.logo-item {
    position: relative; /* Added position relative to ensure correct z-index */
  }
  
  .logo-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s; /* Added transition property */
  }
  
  .logo-image:hover {
    transform: rotate(360deg); /* Rotate the image on hover */
  }
  
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .logo-section {
    position: relative;
    bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: rgba(237, 237, 237,0.1);
  }
  
  .logo-item {
    display: inline-block;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex-basis: calc(20% - 40px); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor:pointer;
  }
  
  .logo-item:hover {
    transform: translateY(-10px);
  }
  
  .logo-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .logo-heading {
    font-size: 18px;
    color: #333;
    margin: 0;
  }
  
  /* Responsive */
  @media (max-width: 1024px) {
    .logo-item {
      flex-basis: calc(33.33% - 40px); /* Adjust to maintain spacing */
    }
  }
  
  @media (max-width: 768px) {
    .logo-item {
      flex-basis: calc(50% - 40px); /* Adjust to maintain spacing */
    }

    .logo-section {
      padding: 10px; /* Reduce padding for smaller screens */
      gap: 10px; /* Reduce gap for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .logo-item {
      flex-basis: calc(100% - 40px); /* Adjust to maintain spacing */
    }
  
    .logo-image {
      width: 80px;
    }
  
    .logo-heading {
      font-size: 16px;
    }
  }
